#movie-results{
    display:flex;
    flex-wrap: wrap;
    margin: 5px;
}
.movie-card{
    flex: 1 0 30vw;
    border: 5px solid rgb(5, 5, 5);
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    padding: 20px;
    font-size: larger;
    justify-content: start;
    background-color: rgb(18, 4, 100);
}
