#movie-results{
    display:flex;
    flex-wrap: wrap;
    margin: 5px;
}
.movie-card{
    display: flex;
    flex: 1 0 30vw;
    border: 5px solid rgb(161, 0, 0);
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    padding: 20px;
    font-size: larger;
    justify-content: start;
    flex-direction: row;
    background-color: rgb(60, 60, 60);
}
.movie-img-div{
    justify-content: space-around;
}
.movie-img{
    max-width: 200px;
    max-height: 200px;
    margin-left: 20px;
}
