*{
    margin: 0;
    padding: 0;
}
:root{
    --primary: #FF695E;
    --secondary: rgb(46, 45, 45);
    --contrast: aliceblue;
}

body {
    background-color: var(--secondary);
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
nav h1{
    color: #ffffff;
}

#search-form {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
#search-bar {
    color: var(--primary);
    padding: 10px 15px;
    border: 3px solid var(--primary); 
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin: 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.search-btn{
    color: var(--primary);
    padding: 10px 15px;
    border: 3px solid var(--primary); 
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin: 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.search-btn:hover {
    background: linear-gradient(45deg, var(--primary), var(--secondary));
    transform: scale(1.1);
    color: var(--contrast);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
#movie-button{
    display: none;
}

#modal-div .header,
#modal-div .content,
#modal-div .actions{
    color: var(--contrast);
    background-color: var(--secondary);
}

#modal-div .header{
    display: flex;
    justify-content: space-between;
}
.generalContainer{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

#movie-results {
    color: white;
}
.genre-content {
    background-color: var(--secondary);
}

.genre-container{
    background-color: var(--secondary);
}

.dark{
    background-color: var(--secondary);
    color: #ffffff;
}


#searchDiv{
    margin-top: 2px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.526);
    z-index: 999;
    
}

.rotate {
    animation: rotate 2s linear infinite; /* Adjust the animation duration and timing function as needed */
    max-width: 30vw;
    margin-left: 35vw;
}
.service-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service-icon{
    max-width: 80px;
    max-height: 50px;
    margin: 5px 15px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}